<!DOCTYPE html>
<html>
<head>
  <title>Codename777</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	modern smart blogging engine for specially designed for coders.<br />
	users can use version controll system to prepare and manage content with special tags. and upload to github.
	and can give the rest responsibility to this blog engine by giving their repo link.
</p>
<%= yield %>
<p>project will be soon up</p>
</body>
</html>
